<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="/styles/register.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <form id="registerForm" action="/api/v1/auth/register" method="POST">
            <div>
                <div class="">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
            </div>
            <div class="notification-and-login">
                <div id="error-message" style="color: rgb(255, 255, 255); display: block; height: 1rem;"></div>
                <a href="/login">Already have an account?</a>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>

    <script>
        document.getElementById('registerForm').addEventListener('submit', async function (e) {
            e.preventDefault();

            const formData = new FormData(this);
            const data = Object.fromEntries(formData);

            try {
                const response = await fetch('/api/v1/auth/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                const result = await response.json();

                if (response.ok) {
                    alert('User registered successfully');
                    window.location.href = '/login';
                } else {
                    document.getElementById('error-message').textContent = result.error || 'An error occurred';
                    document.getElementById('error-message').style.display = 'block';
                }
            } catch (error) {
                console.error('Error:', error);
                document.getElementById('error-message').textContent = 'An error occurred';
                document.getElementById('error-message').style.display = 'block';
            }
        });
    </script>
</body>
</html>
